<a href="https://colab.research.google.com/github/shreya-14-03/social_web_lab_/blob/main/socia_web_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
import tweepy
import pandas as pd

In [ ]:
consumer_key="6nOaJDLHrlUURkrqMNjHETCws"
consumer_secret="Hw3nhw1ZQlcoexdLT9w0ZIzlbGO9knbQ09nydzwwVQEWeI6XoR"
access_token="1366400620060499970-gFOVEQEu5tRx1N8rA9rGivXfEtSDKi"
access_token_secret="55MnatoE0z1jWqcmQOPT99Uc63sLSSGwl0BVoobOcEdVQ"

In [ ]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [ ]:
cursor=tweepy.Cursor(api.user_timeline,id='narendramodi',tweet_mode="extended").items(1)

In [ ]:
for i in cursor:
  print(i.full_text)

23rd March is a special day for us all as we observe Shaheed Diwas. At 6 PM tomorrow, will inaugurate the Biplobi Bharat Gallery at Victoria Memorial Hall, Kolkata via VC. It will showcase the contributions of those who devoted their lives for our freedom. https://t.co/DTu1bWR6mL https://t.co/q7LX72WuCi

In [ ]:
number_of_tweets = 200
tweets = []
likes = []
time = []

for i in tweepy.Cursor(api.user_timeline, id='narendramodi', tweet_mode="extended").items(number_of_tweets):
  tweets.append(i.full_text)
  likes.append(i.favorite_count)
  time.append(i.created_at)

In [ ]:
posts=api.user_timeline(screen_name="narendramodi", count=100,lang="en",tweet_mode="extended")
#to display the first 5 tweets posted by the user 
i=1
for tweet in posts[0:5]:
  print(str(i)+'.'+' '+tweet.full_text + '\n')
  i=i+1

1. 23rd March is a special day for us all as we observe Shaheed Diwas. At 6 PM tomorrow, will inaugurate the Biplobi Bharat Gallery at Victoria Memorial Hall, Kolkata via VC. It will showcase the contributions of those who devoted their lives for our freedom. https://t.co/DTu1bWR6mL https://t.co/q7LX72WuCi

2. Exemplary efforts to draw more investment to Jammu and Kashmir, and ensure greater opportunities for the people. https://t.co/ooxWDsD79M

3. Together, let’s further water conservation and contribute to a sustainable planet. Every drop saved helps our people and enhances our progress. https://t.co/NOqIzxinKL

4. माताओं और बहनों के जीवन को आसान बनाने में जल जीवन मिशन अत्यंत प्रभावी साबित हो रहा है। जन–जन की भागीदारी से घर-घर नल से जल पहुंचाने का संकल्प पूरा होगा। https://t.co/huzRH70p7U

5. बिहार के सभी भाइयों और बहनों को बिहार दिवस की हार्दिक बधाई। मेरी कामना है कि ऐतिहासिक और सांस्कृतिक विरासत से समृद्ध यह प्रदेश विकास के नए-नए कीर्तिमान स्थापित करता रहे।

In [ ]:
df=pd.DataFrame([tweet.full_text for tweet in posts], columns=['Tweets'])
df

                                               Tweets
0   23rd March is a special day for us all as we o...
1   Exemplary efforts to draw more investment to J...
2   Together, let’s further water conservation and...
3   माताओं और बहनों के जीवन को आसान बनाने में जल ज...
4   बिहार के सभी भाइयों और बहनों को बिहार दिवस की ...
..                                                ...
95  भारत के लोकतंत्र के लिए आज उत्साह और उत्सव का ...
96  Speaking from the BJP HQ in Delhi. Watch. http...
97  Chaired a meeting to review the COVID-19 situa...
98  সদ্য অনুষ্ঠিত পৌৰসভাৰ নিৰ্বাচনত অসমৰ সমূহ জনগণ...
99  Gratitude to the people of Assam for blessing ...

[100 rows x 1 columns]